<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA4YAplM3u0wcMdA46AFXV22gcPRwvGukc</string>
	<key>GCM_SENDER_ID</key>
	<string>390780091434</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.atiafapps.roaya</string>
	<key>PROJECT_ID</key>
	<string>roaya-5e274</string>
	<key>STORAGE_BUCKET</key>
	<string>roaya-5e274.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:390780091434:ios:3078a047eba869ba8f5753</string>
</dict>
</plist>